<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Búsqueda de inmuebles</title>

    <link rel="stylesheet" href="/css/formulario.css">
</head>

<body>

    <!-- Barra superior -->
    <header class="topbar">
        <span class="empresa">Oasis</span>
    </header>

    <div class="container">
        <h1>Buscar inmuebles</h1>
        <hr class="line">

        <form th:action="@{/buscarInmuebles}" method="post" class="form">
            <input type="date" name="fechaInicio" id="FechaInicio" required>

            <label for="FechaFin">Fecha fin:</label>
            <input type="date" name="fechaFin" id="FechaFin" required>
			
			<!-- Reserva inmediata -->
			<label>
				<input type="checkbox" name="directa">
				Solo reserva inmediata
			</label>

			<!-- Política de cancelación -->
			<label>Política de cancelación:</label>
			<select name="politica">
				<option value="">Cualquiera</option>
				<option value="REEMBOLSABLE">Reembolsable</option>
				<option value="REEMBOLSABLE_50_PER">Reembolsable a medias</option>
				<option value="NO_REEMBOLSABLE">No reembolsable</option>
			</select>

            <button type="submit">Buscar</button>
        </form>

        <!-- Navegación -->
        <div class="links">

			<!--Volver-->
			<a th:href="@{/homeInquilino}">
				<button type="button">Volver</button>
			</a>

        </div>
    </div>

</body>
</html>
