
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inmueble registrado</title>
    <link rel="stylesheet" href="/css/formulario.css">
</head>

<body>

<header class="topbar">
    <span class="empresa">Oasis</span>
</header>

<div class="container">
	    <h1>Registro de inmueble</h1>
	    <hr class="line">
	
		<div th:if="${Exito}">
		    <p>
		        El inmueble en
		        <strong th:text="${inmueble.direccion}"></strong>
		        se ha registrado correctamente.
		    </p>
		</div>
	
		<div th:if="${!Exito}">
		    <p style="color:red;">
		        Se ha producido un error al registrar el inmueble.
		    </p>
		</div>

    <div class="links">
        <a th:href="@{/homePropietario}">
            <button type="button">Inicio</button>
        </a>

        <a th:href="@{/registrarInmueble}">
            <button type="button">Registrar mas inmuebles</button>
        </a>
    </div>
</div>

</body>
</html>
