<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resultados de búsqueda</title>

    <link rel="stylesheet" href="/css/formulario.css">
</head>

<body class="fondo-estatico">

    <!-- Barra superior -->
    <header class="topbar">
        <span class="empresa">Oasis</span>
    </header>

    <div class="container">
        <h1>Resultados de la búsqueda</h1>
        <hr class="line">

        <!-- Sin resultados -->
        <div th:if="${#lists.isEmpty(resultados)}">
            <p>No se han encontrado inmuebles disponibles para las fechas indicadas.</p>
        </div>

        <!-- Con resultados -->
        <div th:if="${!#lists.isEmpty(resultados)}">
            <ul class="lista-resultados">
				<li th:each="inmueble : ${resultados}" class="resultado">

				    <p>
				        <strong>Dirección:</strong>
				        <span th:text="${inmueble.direccion}"></span>
				    </p>

				    <p>
				        <strong>Precio base:</strong>
				        <span th:text="${inmueble.precio_noche}"></span> € / noche
				    </p>

				    <form th:action="@{/anadirFavorito}" method="post">
				        <input type="hidden" name="idInmueble" th:value="${inmueble.id}">
				        <button type="submit">Añadir a favoritos</button>
				    </form>

				    <div th:each="disp : ${inmueble.disponibilidades}">

				        <p>
				            <strong>Disponible:</strong>
				            <span th:text="${disp.fechaInicio}"></span>
				            -
				            <span th:text="${disp.fechaFin}"></span>
				        </p>

				        <p>
				            <strong>Política:</strong>
				            <span th:text="${disp.politicaCancelacion}"></span>
				        </p>

				        <form th:action="@{/reservarInmueble}" method="get">
				            <input type="hidden" name="idDisponibilidad" th:value="${disp.id}">

				            <button type="submit">
				                <span th:if="${disp.directa}">Reservar ahora</span>
				                <span th:unless="${disp.directa}">Solicitar reserva</span>
				            </button>
				        </form>

				    </div>

				</li>
            </ul>
        </div>

        <!-- Navegación -->
        <div class="links">

            <!-- Volver -->
			<a th:href="@{/busqueda}">
                <button type="button">Nueva búsqueda</button>
            </a>

           

        </div>

    </div>

</body>
</html>
